.test_ul
    width:100px
    margin:0

.test_children
    margin-left:500px

.test
    display:flex

.MyCompany_nav

.MyCompany_nav li
    display:inline
    margin-left:20px

.test_all
    width:1640px
    height:730px

#components-layout-demo-top-side-2 .logo 
    width: 120px
    height: 31px
    background: rgba(255, 255, 255, 0.2)
    margin: 16px 28px 16px 0
    float: left

.site-layout-background 
    background: #fff
  
.margindiv
    margin:20px
  
.radius_menu
    border-radius:10px
  