.status {
  border-radius: 2em;
  padding: .5em 1em;
  &.pass {
    background: #daf3ff;
    color: #91b9df;
  }
  &.reject {
    background: #ffacb0;
    color: #a10000;
  }
}
.upload-btn {
  display: inline-block;
  width: fit-content;
  padding: .5em;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 0 15px #f7f7f7;
  transition: .2s;

  &:hover {
    box-shadow: 0 0 30px #EBEBEB
  }
}
