.Nav-top,
.chose-top{
    font-size: 20px;
    font-weight: bold;
}
.choseteacher{
    display: block;
}
.choseclass{
    // display: none;
}
.chose-name{
    margin-left: 65%;
}
button{
    //margin-left: 10px;
}
