#All{
    display: flex;
    height: 100vh;
}
.nav-div{
    background-color: #232A3A;
    width: 20%;
}

.nav:hover{
    background-color: #7B7F89;
    
    cursor: pointer;
}
.nav-point{
    background-color: #7B7F89;
    border-left: 0.25vw solid #fff;
    font-size: 15px;
    padding: 2.5vh;
    padding-left: 7vw;
    color: white;
}
.nav{
    font-size: 15px;
    padding: 2.5vh;
    padding-left: 7vw;
    color: white;
    
}
/* .nav-a{
    color: white;
} */
/* .nav-a:visited{
    border-left: 0.25vw solid #fff;
} */
.nav-a:hover{
    color: white;
}
.content{
    width: 65%;
    float: right;
    margin: 3%;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 1%;
}